<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>TaskVote</display-name>
    <listener>
        <listener-class>by.it_academy.jd2.MJD29522.web.listeners.PropertiesListener</listener-class>
    </listener>
</web-app>